
<div class="container main-container" style="text-align:center">
    <div class="home-content">
      <div style="width: auto">
          <h1>MICHAEL ADAIKALARAJ</h1>
          <hr>
      </div>
        <p>Develop great applications to make people to get crazy and lazy.</p>
        <div class="marginTop">
          <a class="myButton" href="about">ABOUT ME</a>
          <a class="myButton" href="contact">CONTACT ME</a>
        </div>
    </div>
</div>