<%- include ./partials/header.ejs %>    
<div class="main-container" style="text-align:center">
    <div class="row">
        <div class="col-lg-6">
            <div class="tile tileSmall m-t-20 m-b-20 m-l-10">
                <div class="row p-t-20 p-l-20 p-r-20 p-b-20">
                        <img src="/Assets/Images/saguni.png" class="img-responsive project-logo"/>
                        <p class="m-t-20">An entertainment company who provides best customer experience in gaming industry with high quality games. They encourage e-sports in India by providing best amenities and customer experience </p>
                        <p>Website : <a href="https://saguni.in/" target="_blank" class="text-center">www.saguni.in</a></p>
                </div>
            </div>
            <div class="tile tileSmall m-t-20 m-b-20 m-l-10">

            </div>
        </div>
        <div class="col-lg-6">
            <div class="tile tileBig m-t-20 m-b-20">
                <img src="/Assets/Images/wca.png" class="img-responsive project-logo m-t-30 m-l-20 m-r-20"/>
                <p class="m-t-20">The Canadian Talent Managment firm with international presence, providing unique talent acquisition soultions for employers, inspiring career consulting for job seekers.</p>
           
            </div>
        </div>
    </div>
</div>
<%- include ./partials/footer.ejs %>