
<%- include ./partials/header.ejs %>  
<div class="container main-container">

<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">High School.</span>
        <span class="time-wrapper"><span class="time">2008 - 2010</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation deserunt proident.</div> -->
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Bachelore Degree.</span>
        <span class="time-wrapper"><span class="time">2010 - 2014</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum In ut sit in dolor nisi ex magna eu anim anim tempor dolore aliquip enim cupidatat laborum dolore.</div> -->
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Android Developer.</span>
        <span class="time-wrapper"><span class="time">2014 - 2017</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Advanced Diplomo.</span>
        <span class="time-wrapper"><span class="time">Aug 2017 - Present</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
    </div>
  </li>

  <!-- Item 5 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Cashier at KFC.</span>
        <span class="time-wrapper"><span class="time">Dec 2017 - Present</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
    </div>
  </li>

  <!-- Item 6 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Peer Tutor.</span>
        <span class="time-wrapper"><span class="time">Oct 2018 - Present</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
    </div>
  </li>

  <!-- Item 7 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Student Worker.</span>
        <span class="time-wrapper"><span class="time">Nov 2018 - Dec 2018</span></span>
      </div>
      <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
    </div>
  </li>
</ul>
</div>
<%- include ./partials/footer.ejs %>